body {
    background-color: black;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.projects-tab {
    border-bottom: solid 500px white;
    border-left: 700px;
    border-right: 500px;
    width: 1244px;
    display: grid;
    place-content: center;
}

.navigation-bar {
    background-color: rgb(90, 90, 90);
    padding: 3px;
    position: fixed;
    bottom: 0; /* Moves navigation bar to bottom */
    width: 100%;
}

.navigation-links-group {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation-links {
    font-size: 25px;
    font-family: monospace;
    background-color: white;
    color: black;
    border: none;
    margin: 2px 7px;
    padding: 10px 10px;
    display: flex;
    transition: width 0.2s;
}

.navigation-links:hover {
    width: 55px
}

.navigation-links:active {
    width: 45px
}