h1 {
    text-align: center;
    color: #141414;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: none;
}

h2 {
    font-weight: normal;
}

.p-properties {
    justify-content: center;
    display: flex;
}

p {
    text-align: justify;
    width: 700px;
    line-height: 1.5;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: none;
}

body {
    background-color: #EEF7FF;
    margin: 0;
    font-size: 20px;
    color: #3f3f3f;
    padding-top: 80px;
}

@media (max-width:600px) {
    
}

#greeting {
    font-size: 100px;
    line-height: 20px;
    animation-name: slide-up;
    animation-duration: 1.8s;
    animation-delay: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-size: 70px;
    line-height: 20px;
    animation-name: slide-up;
    animation-duration: 0.7s;
    animation-delay: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes slide-up {
    0% {
        transform: translate(0%, 100%);
        opacity: 0%;
    }
    50% {
        transform: translate(0%, 50%);
        opacity: 0%;
    }
    100% {
        transform: translate(0%, 0%);
    }
}
.linecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 15px;
    width: 100px;
    background-color:#141414;
    position: relative;
    top: -200px;
    animation-name: stretch;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes stretch {
    from {
        width: 100px
    }
    to {
        width: 700px
    }
}

#intro-animation {
    animation-name: slide-down;
    animation-duration: 1.8s;
    animation-delay: none;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes slide-down {
    0% {
        transform: translate(0%, -100%);
        opacity: 0%;
    }
    50% {
        transform: translate(0%, -50%);
        opacity: 0%;
    }
    100% {
        transform: translate(0%, 0%);
    }
}
.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #141414;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EEF7FF;
    border: 2px solid #141414;
    width: 255px;
    height: 85px;
    margin-top: 15px;
    font-size: 35px;
    transition: 0.5s ease;
    animation-name: fade-in-late;
    animation-duration: 2.2s;
    animation-delay: none;
}

@keyframes fade-in-late {
    0% {
        opacity: 0%
    }
    50% {
        opacity: 0%
    }
    75% {
        opacity: 0%
    }
    90% {
        opacity: 80%
    }
    100% {
        opacity: 100%
    }
}

.button:hover {
    background-color:#EEF7FF;
    color: #141414;
    border: 2px solid #141414;
}

.navigation-bar {
    position: fixed;
    background-color: #141414;
    padding: 10px;
    width: 100%;
    top: 0;
}

.navigation-links-group {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.navigation-links {
    font-size: 20px;
    text-decoration: none;
    color: #EEF7FF;
    margin: 2px 15px;
    padding: 10px 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navigation-links:hover {
    background-color: #EEF7FF;
    color: #141414;
}

@keyframes fade-in {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

.animation {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: none;
}

.python-projects {
    display: flex;
    justify-content: space-around;
    margin: 1px;
}
/* Every project image*/
.project-overlay-container {
    position: relative;
}

/* Every project image will have an overlay*/
.project-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    /* the pictures will have this color when hovered over */
    background-color: rgba(15, 49, 78, 0.5); /* the 0.5 means 50% opacity */
    top: 0;
    bottom: 0;
    /* starts off with 0 opacity */
    opacity: 0;
    transition: 0.5s ease;
}

.project-overlay-container:hover .project-overlay {
    opacity: 1;
}

.project-buttons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.project-buttons {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #141414;
    color: #EEF7FF;
    border: 2px solid #141414;
    width: 200px;
    height: 60px;
    margin: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.project-buttons:hover {
    border: 2px solid #EEF7FF;
    color: #141414;
    background-color: #EEF7FF;
}

.project-overlay-container2 {
    position: relative;
}

.project-overlay-container2:hover .project-overlay {
    opacity: 1;
}

.project-overlay-container3 {
    position: relative;
}

.project-overlay-container3:hover .project-overlay {
    opacity: 1;
}

.page-image-properties {
    justify-content: center;
    display: flex;
}
.page-image {
    height: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact-page {
    display: flex;
    height:100vh;
}

/* find out how to make go all the way to the top */
#contact-options {
    width: 50%;
    height: 100vh;
}

#contact-options-placement {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 40px;
}

#contact {
    width: 50%;
    height: 100vh;
}

#contact-placement {
    display: flex;
    height: 100%;
}

#contact-inputs {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.contact-input {
    margin: 20px;
    height: 30px;
    width: 380px;
    background-color:#EEF7FF;
    transition: 0.4s ease;
    color:#141414;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-input:focus {
    background-color:#141414;
    color: #EEF7FF;
}

#contact-input-text {
    margin: 20px;
    height: 340px;
    width: 380px;
    background-color: #EEF7FF;
    transition: 0.4s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif'
}

#contact-input-text:focus {
    background-color: #141414;
    color: #EEF7FF;
}