/* The whole website background */
body {
    background-color: black;
}

/* Top banner */
.navigation-bar {
    background-color: white;
    padding: 15px;
}

.navigation-bar-group {
    display: flex;
    justify-content: space-between;
}

.navigation-links-group {
    display: flex;
}

/* About and Project links */
.navigation-links {
    font-size: 25px;
    font-family: monospace;
    background-color: white;
    color: black;
    border: none;
    margin: 2px 7px;
    padding: 10px 10px;
    display: flex;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-links:hover {
    background-color: black;
    color: white;
}